.starshipDetails {
    color: black;
    font-weight: bolder;
}

h1 {
color: aqua;
text-align: center;
font-weight: bolder;
}

.starships {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
    
}
.starships li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(61, 184, 214);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.starships li:hover {
    color: #dbe8e9;
    left: .1em;
}
/* .starships li.selected {
    background-color: #2d302d;
    color: rgb(13, 230, 23); 
} */

.starships li.selected:hover {
    background-color: rgb(111, 65, 126);
    color: rgb(255, 255, 255);
}
.starships .badge {
    display: inline-block;
    font-size: small;
    color: black;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:white;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 4px 4px 4px;
}