<h1>Starships</h1>
<div class="starships">
    <li *ngFor="let starship of starships" 
    [class.selected]="starship === selectedStarship"
    (click)="onSelect(starship)">
        <span class="badge">{{starship.id}}</span>
        {{starship.name}} | 
        <i>{{starship.commander}}</i>
    </li>
  </div>

<div class= "starshipDetails "*ngIf="selectedStarship">

    <h3>{{selectedStarship.name}} Starship</h3>
    <div><span>id: </span>{{selectedStarship.id}}</div>
    <div><span>empire: </span>{{selectedStarship.empire}}</div>
    <div><span>length: </span>{{selectedStarship.length}}</div>
    <div><span>film: </span>{{selectedStarship.film}}</div>
    <div>
      <label>commander:
        <input [(ngModel)]="selectedStarship.commander" placeholder="update commander"/>
      </label>
    </div>
  
</div>