<div id="navbar">
    <a class="active" href="javascript:void(0)">Home</a>
</div>

<div class="container">
    
<app-starships></app-starships>
    <div id="nc-main" class="nc-main bg-cover bg-cc">
  
              <div class="full-wh">
              
                  <!-- STAR ANIMATION -->
                  <div class="bg-animation">
                      <div id='stars'></div>
                      <div id='stars2'></div>
                      <div id='stars3'></div>
                      <div id='stars4'></div>
                  </div><!-- / STAR ANIMATION -->
  
              </div>
    </div>
    
  <footer> 
       <h2>“I’m just a simple man trying to make my way in the universe.” — Jango Fett</h2>
   </footer>
</div>
 